*{
    margin: 0;
    padding: 0;
}
 header{
     display: flex;
     align-items: center;
     /* justify-content: center; */
 }

 #top::before{
    content: "";
    background-color: rgb(160, 21, 21);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
 }

 .box{
    
     margin: 10px;
 }


 #left{
    /* border: 2px solid black; */
     font-size: 30px;
     padding: 12px;
     color: white !important;
     /*!important can be used to force browser to apply any property*/
}

#search{
    /* border: 2px solid black; */
    position: relative;
    left: 5rem;
    width: 650px;
    padding: 12px;
    
    
}


#search input{
    border: 1px solid black;
    border-radius: 5px;
    

}

#right{
    position: absolute;
    right: 25px;
    top: 20px;
}

.btn{
    margin: 2px;
    padding: 2px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    
}

.btn:hover{
    background-color: black;
    color: white;
}


#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    font-size: 65px;
    color: white;
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Baloo Bhai 2', cursive;
    /* font-family: 'Satisfy', cursive; */
}

/*  body background */
#home::before{
    content: "";
    background: url('../img/2.jpg') no-repeat center center/cover ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;

}

.btn1{
    margin: 26px;
    padding: 6px;
    width: 142px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.btn1:hover{
    background-color: black;
    color: white;
}

#navbar{
    display: flex;
   align-items: center;
    justify-content: center;
    position: absolute;
    top: 96px;
    left: 0px;

    
    
}

.navitems{
   
   /*display: flex;  layout to vertical*/
   align-items: center;
   justify-content: center;
    /* border: 2px solid black; */
    /* padding: 42px 35px; */
    /* background-color: black; */
    
}
/* navbar list element */
.navitems li{
    margin: 96px 16px;
    font-size: 20px;
    list-style: none;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* background-color: rgb(236, 196, 182); */

    /* text-decoration: none; */
}


/* navbar links */
.navitems li a{
    text-decoration: none;
    color: white;
   display: block;
    margin: 2px 5px;
    font-family: 'Baloo Bhai 2', cursive;
}
.navitems li a:hover{
    text-decoration: underline;
    color: black;
   
}

#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

#categories{

display: flex;
flex-direction: column;
position: absolute;
top: 190px;
left: 0px;
height: 50px;
}

.aside{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.photos img{
    height: 175px;
    opacity: 0.8;
}
.photos .text div{
    height: 175px;
    /* opacity: 0.8; */
    border: 2px solid black;
}


#photo1{
    position: relative;
    display: inline-block;
}
#photo2{
    position: relative;
    display: inline-block;
}
#photo3{
    position: relative;
    display: inline-block;
}


#photo1 #text1{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 600px;
    top: 12%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
    font-size: 25px;
    border: 2px solid black;
}
#photo2 #text2{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 600px;
    top: 12%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
    font-size: 25px;
    border: 2px solid black;
}
#photo3 #text3{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 600px;
    top: 12%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
    font-size: 25px;
    border: 2px solid black;
}
